.card {
    border-bottom:1px solid #A5A5A5;
    margin: 2% 4% ;
    // top right bottom left
    

    h1 {
        margin:0 15px 0 0;
        font-size: 15pt;
    }

    .port {
        display: flex;
        position: absolute;
        left: 450px;
        
    }
    
    .typeV {
       
        display: flex;
        
    }

    dd {
        color: #2962FF;
        margin-left: 75px;
    }

    
    
}
dl {
    font-size: 12pt;
    display: flex;
    margin-bottom: 25px;
    
}
