.card {
    border-bottom:1px solid #A5A5A5;
    margin: 3% 4% ;
    
    
    #cardDetailsBtn{
        cursor: pointer;
    }


    

    dl {
        font-size: 12pt;
        display: flex;
        

        dd {
            color: #2962FF;
            margin-left: 75px;
        }

        dt {
            
            
        }

        h1 {
            margin:0 20px 0 0;
            font-size: 15pt;
            font-weight: 500;
            line-height: 23px;
        }

        .port { //фиксированное положение 2-го блока в ряду
            display: flex;
            position: absolute;
            left: 500px;
            
            
        }
        .shipType {
            display: flex;
            
        }
    }

    svg {
        padding-top: 4px; //выровнять стрелку
    }
    
    #cardContent{
        margin-top: 25px;
        margin-bottom: 32px;
    }
}
