$material-form-label: #000000;
$material-form-label-focus: #347CFF;
$material-form-line: #000000;
$material-form-line-focus: $material-form-label-focus;
$material-form-input-text: $material-form-label;
$material-form-input-text-focus: $material-form-label-focus;
$material-form-field-invalid-foreground: #A5A5A5;
$material-labelOffset: 25px;
$material-textInputPaddingTopBottom: 5px;

//титул компонента
h1 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-weight: 400;
  font-size: 18pt;
  line-height: 32px;
  margin-top: 50px; 
  margin-bottom: 20px;
}

.container {
  width: 340px;
  line-height: 18.75px;

  .radioButtons{
  $md-radio-checked-color:#347CFF;
  $md-radio-border-color: rgba(0, 0, 0, 0.54);
  $md-radio-size: 20px;
  $md-radio-checked-size: 10px; 
  $md-radio-ripple-size: 15px;
  
  @keyframes ripple {
    0% {
      box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.0);
    }
    50% { 
      box-shadow: 0px 0px 0px $md-radio-ripple-size rgba(0, 0, 0, 0.1);
    }
    100% {
      box-shadow: 0px 0px 0px $md-radio-ripple-size rgba(0, 0, 0, 0);
    }
  }
  
  .md-radio {
      margin: 16px 0;
      
      &.md-radio-inline {
          display: inline-block;
      }
  
      input[type="radio"] {
          display: none;
          &:checked + label:before {
              border-color: $md-radio-checked-color;
              animation: ripple 0.2s linear forwards;   
          }
          &:checked + label:after {
              transform: scale(1);
          }
      }
      
      label {
          display: inline-block;
          min-height: $md-radio-size;
          position: relative;
          padding: 0 ($md-radio-size + 20px);
          margin-bottom: 0;
          cursor: pointer;
          vertical-align: bottom;
          &:before, &:after {
              position: absolute;            
              content: '';  
              border-radius: 50%;
              transition: all .3s ease;
              transition-property: transform, border-color;
          }
          &:before {
              left: 0;
              top: 0;
              width: $md-radio-size;
              height: $md-radio-size;
              border: 2px solid $md-radio-border-color;
          }
          &:after {
              top: $md-radio-size / 2 - $md-radio-checked-size / 2;
              left: $md-radio-size / 2 - $md-radio-checked-size / 2;
              width:$md-radio-checked-size;
              height:$md-radio-checked-size;
              transform: scale(0);
              background:$md-radio-checked-color;
          }
      }
  }
  
    *, *:before, *:after {
      box-sizing: border-box;
    }
  }


  //input
  .material-form-field {
    font-size:14px;
    position:relative;
    display:block;
    color:#A5A5A5;
    caret-color:#347CFF;
    
    padding:$material-labelOffset 0 10px 0;
   

  
    &::after{
      content:"\00A0";
      display:block;
      color: #A5A5A5;
      font-size:12px;
      padding-top:5px;
    }
  
    .material-form-field-label{
      position:absolute;
      display:block;
      top: $material-labelOffset + $material-textInputPaddingTopBottom;
      left: 0px;
      font-size: 12pt;
      transition:0.2s ease all; 
      -moz-transition:0.2s ease all; 
      -webkit-transition:0.2s ease all;
      pointer-events:none;
      cursor:text;
    }
  
    input {
      padding:$material-textInputPaddingTopBottom 0 $material-textInputPaddingTopBottom 0;
      display:block;
      width:100%;
      border:none;
      font-size:14px;
      border-bottom:1px solid #A5A5A5;
      outline:none;
  
      &:invalid{
        outline:none;
        box-shadow: none;
      }
      &:valid{
        & ~ .material-form-field-label{
          top: $material-labelOffset - ($material-textInputPaddingTopBottom)-5;
          font-size:11pt;
        }
      }
      &:focus{
        outline:none;
        color:$material-form-line;
        border-bottom-width:1px;
        border-bottom-color:#347CFF;
        & ~ .material-form-field-label{
          color:#A5A5A5;
        }
      }
    }
  }
  
  form {
    margin: 10px 0 20px;

    .selectBox select {
      width: 100%;
    }

    .selectBox {
      position: relative;

      .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }

      #multisetLabel {
        color:#A5A5A5;
        font-size:11pt;
        padding: auto;
        
      }

      #selectMulti {
        border: none;
        font-size: 12pt;
        border-bottom:1px solid #A5A5A5;
        appearance: none; //узнать
        -webkit-appearance: none;//почитать
        margin: left 100px; 
      }
    }

    #checkboxes {
      display: none;
      border: 1px #dadada solid;
      input{
        margin-right: 10px;
        
      }
    
      input[type=checkbox] {
        position: relative;
        cursor: pointer;
        margin-right: 30px;
        //expirement - убирает стандартные рамки checkbox
        -webkit-appearance: none;
        appearance: none;
        
        
      }
      input[type=checkbox]:before {
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        //outline: 2px solid #DADADA;
        border:1px solid #DADADA;
        border-radius:15%;
        height: 20px;
        top: -10px;
        left: 0;
        // background-color:#e9e9e9;
      }
      input[type=checkbox]:checked:before {
        content: "";
        display: block;
        position: absolute;
        // outline: 2px solid #347CFF;
        // border:14px solid red;
        // border-radius:20%;

        border:1px solid #347CFF;
        border-radius:15%;

        width: 20px;
        height: 20px;
        top: -10px;
        left: 0;
        background-color:#347CFF;
      }
      input[type=checkbox]:checked:after {
        content: "";
        display: block;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: -7px;
        left: 7px;
      }
    }
    #checkboxes label {
      display: block;
      padding:3px;
      margin: 3%;
    }
  }
}


body {
  background:#f0f0f0;
  position: absolute;
  width:100%;
  padding:0;
  margin:0;
  color: #333;
}

