
      <h1>Фильтры</h1>
        <div class="container"> 
        <div class="material-form-field">
          <input [(ngModel)]="this.service.inputText" [style.border-bottom-color]="this.service.inputText ? '#347CFF':'#A5A5A5'"  type="text" required name="text" id="field-text"/>
          <label class="material-form-field-label" for="field-text">Название</label>
        </div>
    
    <!-- multiset -->
    
  <form>
      <div class="selectBox" (click)="showCheckboxes()">
        <label id="multisetLabel" for="selectBox">Основной язык</label>
        <select id="selectMulti" [style.border-bottom-color]="lenghtNums ? '#347CFF':'#A5A5A5'">
          <option>Выбраны {{lenghtNums}}</option>
        </select>
        <div class="overSelect"></div>
      </div>
      <div id="checkboxes">
        <label for="one">
          <input type="checkbox" id="one" (click)="clickCheckBox('Russian')" />Русский язык</label>
        <label for="two">
          <input type="checkbox" id="two" (click)="clickCheckBox('English')" />Английский язык</label>
        <label for="three">
          <input type="checkbox" id="three" (click)="clickCheckBox('French')" />Французский язык</label>
          
      </div>
    
  </form>
  <strong>Население</strong>
  <!-- radioButton -->
    <div class="radioButtons">
      <div class="md-radio">
        <input id="1" (click)="clickRadioBtn(1)" type="radio" name="g" >
        <label for="1">Более 100 млн.чел</label>
      </div>
      <div class="md-radio">
        <input id="2" (click)="clickRadioBtn(2)" type="radio" name="g">
        <label for="2">30-100 млн.чел</label>
      </div>
      <div class="md-radio">
        <input id="3" (click)="clickRadioBtn(3)" type="radio" name="g">
        <label for="3">10-30 млн.чел</label>
      </div>
      <div class="md-radio">
        <input id="4" (click)="clickRadioBtn(4)" type="radio" name="g">
        <label for="4">1-10 млн.чел</label>
      </div>
      <div class="md-radio">
        <input id="5" (click)="clickRadioBtn(5)" type="radio" name="g">
        <label for="5">Менее 1 млн.чел</label>
      </div>
      <div class="md-radio">
          <input id="6" (click)="clickRadioBtn(6)" type="radio" name="g">
          <label for="6">Весь диапазон</label>
      </div>
    </div>
        </div>

