
#page {
	height: 100vh;
	display: flex;
	
}

#content {
	flex: 1 0 auto;
	background: #f7f7f7;
}




#title {
	margin-top: 50px; 
	margin-left: 4%; 
	margin-right: 4%; 
	margin-bottom: 65px;
	font-size: 21pt; //28px
	line-height: 32px;
	font-weight: 500;
}



dl {
	position:absolute;
	bottom: 0;
  	display: flex;
	margin: 3% 3.5%;
  	width: 200px;
}

#counterPage {
	font-size: 12pt;
	margin-left: 20px;
	margin-right: 20px;
  	padding: 2px 0;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;

}


#mainSideBar{
	padding-left: 30px;
	padding-right: 30px;
  	border-left:1px solid #A5A5A5;

}


.noDataClass{
	display: grid; //в качестве эксперимента
  	place-items: center;
	
}







