
#page {
	height: 100vh;
	display: flex;
}

#content {
	flex: 1 0 auto;
	background: #f7f7f7;
}




#title {
	margin-top: 30px; 
	margin-left: 4%; 
	margin-right: 4%;
	margin-bottom: 4%;
	font-size: 21pt; //28px
	line-height: 32px;
	font-weight: 500;
}



dl {
	position:absolute;
	bottom: 0;
  	display: flex;
	margin: 8% 3%;
  	width: 200px;
}

#counterPage {
	font-size: 12pt;
	margin-left: 20px;
	margin-right: 20px;
  padding: 3.5px 0;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;

}


#mainSideBar{
	padding-left: 2%;
	padding-right: 2%;
  	border-left:1px solid #A5A5A5;

}






//material design//////////////////////////////////////////////////////////





